/* variables */
:root {
    --background-color: rgba(255, 255, 255, 0.2);
    --hover-color: rgba(255, 255, 255, 0.5);
    --border-radius: 50px;
    --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(39, 158, 255), rgb(240, 78, 172));
    height: 100vh;
}

#foodTable {
    background-color: var(--background-color);
    margin: 20px auto;
    width: 75%;
    border-collapse: collapse;
    color: white;
    font-size: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding-top: 40px;
    padding-bottom: 40px;
}

#foodTable th, #foodTable td {
    text-align: left;
    padding: 30px;
}

.button {
    display: block;
    margin: 20px auto;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-size: 20px;
}

.button:hover {
    background-color: var(--hover-color);
}